<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-play-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">برنامه های درحال پخش</span>
                <span class="info-box-number">{{ programs_live }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fa fa-rss"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">برنامه های منتشر شده</span>
                <span class="info-box-number">{{ programs_publish }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-newspaper"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">برنامه های پیش نویس</span>
                <span class="info-box-number">{{ programs_draft }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-book"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">برنامه های بایگانی شده</span>
                <span class="info-box-number">{{ programs_archive }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>