<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>همانند سازی برنامه</title>
    <script src="{% static 'admin_panel/custom/admin_program_duplicate.js' %}"></script>
    <script>
        let alert_text;
        let url;
        {% if is_copy is True %}
            alert_text = 'برنامه مدنظر شما کپی شد.';
            url = "{% url 'admin_panel:admin_panel_program' %}";
            redirect_to(url, alert_text);
        {% endif %}
    </script>
</head>
<body>

</body>
</html>