<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 - Internal Error</title>
    <link rel="stylesheet" href="{% static 'BroadcastSite/500/css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<body class="loading">
<h1>500</h1>
<h2>Unexpected Error <b>:(</b></h2>
<div class="gears">
    <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
<script src="{% static 'BroadcastSite/500/js/jquery-1.10.2.js' %}"></script>
</body>
<!-- partial -->
<script src="{% static 'BroadcastSite/500/js/script.js' %}"></script>

</body>
</html>
