<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>403 forbidden</title>
    <link rel="stylesheet" href="{% static 'RadioRahh/403/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">403</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">can't let <span>you</span> in.</span>
        <span class="support">
      <span>سوال دارید؟</span>
      <a href="https://rahh.ir/blog/contact/">با پشتیبانی تماس بگیرید.</a>
    </span>
    </div>
    <div class="lock"></div>
</div>
<!-- partial -->

</body>
</html>
