{% extends 'Accounts/base_accounts.html' %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block head %}
{% if if_code == 2 %}
    <script>
        alert("You aren't logged in.")
        location.replace('{% url "Accounts:login" %}?next=/changepassword')
    </script>
{% elif if_code == 1 %}
    <script>
        alert('You Password was successfully changed.')
        location.replace("{% url 'main' %}")
    </script>
{% endif %}
{% endblock %}

{% block body_form_title %}Hi, {{ username }}{% endblock %}

{% block body_form_header %}Change Password ...{% endblock %}

{% block body_form %}
    {% csrf_token %}
    {{ form }}
{% endblock %}