{% extends 'Accounts/base_accounts.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block head %}
    {% if if_code == 1 %}
        <script>
            alert('You are already logged in.')
            location.replace('/programs/')
        </script>
    {% elif if_code == 2 %}
        <script>
            alert('You are successfully logged in.')
            location.replace("{{ next_post }}")
        </script>
    {% elif if_code == 3 %}
        <script>
            alert('You are successfully logged in.')
            location.replace("/programs/")
        </script>
    {% endif %}
{% endblock %}

{% block body_form_title %}Login ...{% endblock %}

{% block body_form_header %}Have an account?{% endblock %}

{% block body_form %}
    {% csrf_token %}
    {{ form.username.label }}<br>
    {% render_field form.username class="form-control" style="direction:rtl" placeholder="نام کاربری" %}<br>
    {{ form.username.errors }}
    {{ form.password.label }}<br>
    {% render_field form.password class="form-control password-field" style="direction:rtl" placeholder="رمز عبور" %}<br>
    {{ form.password.errors }}

    <span toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> {#TODO#}
{% endblock %}

{% block re_captcha %}
    {{ form.re_captcha }}
{% endblock %}