{% extends 'BroadcastSite/base.html' %}
{% load static %}
{% block title %}Logout{% endblock %}

{% block head %}
    {% if is_auth %}
        <script>alert('You are Successfully logged out.')</script>
        <meta http-equiv="refresh" content="2; url='{% url "main" %}'" />
    {% else %}
        <script>alert("You aren't logged in ...\nFirst Login.")</script>
        <meta http-equiv="refresh" content="2; url='{% url "Accounts:login" %}'" />
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_auth %}
        <h1>see you later {{ username }}</h1>
        <h2>You are being redirected.</h2>
    {% else %}
        <h1>You are being redirected.</h1>
    {% endif %}
{% endblock %}

