{% extends 'base.html' %}
{% load static %}
{% block title %}Logout{% endblock %}

{% block head %}
    <script src="{% static 'Accounts/logout/js/script_logout.js' %}"></script>
    {% if is_auth %}
        <script>logout_alert()</script>
        <meta http-equiv="refresh" content="3; url='{% url "main" %}'" />
        {% else %}
        <script>not_logout_alert()</script>
        <meta http-equiv="refresh" content="3; url='{% url "Accounts:login" %}'" />
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_auth %}
        <h1>see you later {{ username }}</h1>
        <h2>You are being redirected to Main page.</h2>
    {% else %}
        <h1>You are being redirected to Login page.</h1>
    {% endif %}
{% endblock %}

