{% extends 'Accounts/base_accounts.html' %}
{% load widget_tweaks %}

{% block head %}
    {% if if_valid %}
        <script>alert('Your data was successfully saved.')</script>
    {% endif %}
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block body_form_title %}Hi, {{ username }}{% endblock %}

{% block body_form_header %}Edit Profile ...{% endblock %}

{% block body_form %}
    {% csrf_token %}
    {{ form.username.label }} :
    {% render_field form.username class="form-control" style="direction:rtl" placeholder="نام کاربری" %}
    {{ form.username.errors }}
    {{ form.first_name.label }} :
    {% render_field form.first_name class="form-control" style="direction:rtl" placeholder="نام" %}
    {{ form.first_name.errors }}
    {{ form.last_name.label }} :
    {% render_field form.last_name class="form-control" style="direction:rtl" placeholder="نام خانوادگی" %}
    {{ form.last_name.errors }}
    {{ form.email.label }} :{% render_field form.email class="form-control" style="direction:rtl" placeholder="ایمیل" %}
    {{ form.email.errors }}
    {{ form. }}
{% endblock %}

{% block re_captcha %}
    {{ form.re_captcha }}
{% endblock %}