{% extends 'Accounts/base_accounts.html' %}

{% block title %}Signup{% endblock %}

{% block head %}
    {% if if_code == 1 %}
        <script>
            alert('You are already logged in.')
            location.replace('{% url "main" %}')
        </script>
    {% elif if_code == 2 %}
        <script>
        alert('You are successfully logged in.')
        location.replace("{{ next_post }}")
        </script>
    {% elif if_code == 3 %}
        <script>
            alert('You are successfully logged in.')
            location.replace("{% url 'main' %}")
        </script>
    {% endif %}
{% endblock %}

{% block body_form_title %}Signup ...{% endblock %}

{% block body_form_header %}Don't Have an account?{% endblock %}

{% block body_form %}
    {% csrf_token %}
    {{ form }}
    <span toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
{% endblock %}