{% extends 'Accounts/base_accounts.html' %}

{% block title %}Signup{% endblock %}

{% block head %}
    {% if if_code == 1 %}
        <script>
            alert('You are already logged in.')
            location.replace('/programs/')
        </script>
    {% elif if_code == 2 %}
        <script>
            alert('You are successfully registered.')
            location.replace("/programs/")
        </script>
    {% endif %}
{% endblock %}

{% block body_form_title %}Signup ...{% endblock %}

{% block body_form_header %}Don't Have an account?{% endblock %}

{% block body_form %}
    {% csrf_token %}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.username.errors }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.email.errors }}
    {{ form.password1.label }}
    {{ form.password1 }}
    {{ form.password1.errors }}
    {{ form.password2.label }}
    {{ form.password2 }}
    {{ form.password2.errors }}

    <span toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> {#TODO#}
    <span toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> {#TODO#}
{% endblock %}

{% block re_captcha %}
    {{ form.re_captcha }}
{% endblock %}