{% extends 'AdminPanel/admin_base.html' %}

{% block head %}
    <script>
        {% if is_exist is False %}
            alert("برنامه مدنظر شما وجود ندارد.")
        {% endif %}
        {% if is_deleted is True %}
            alert("برنامه مدنظر شما با موفقیت حذف شد.")
        {% endif %}
        function delete_func(delete_id) {
            if (confirm('آیا می خواهید این برنامه را حذف کنید؟')) {
                location.replace("{% url 'AdminPanel:admin_panel_program' %}?delete_id=" + delete_id)
            } else {
                alert("برنامه به در خواست شما حذف نشد.")
            }
        }
    </script>
{% endblock %}

{% block message %}
    {% if program_null is True %}
        <blockquote class="quote-warning">
            <h5 id="note">توجه !</h5>
            <p>.برنامه ای وجود ندارد</p>
        </blockquote>
        <div class="col-12">
            <a href="{% url 'AdminPanel:admin_panel_program_add' %}" class="btn btn-info">افزودن برنامه</a>
        </div>
    {% endif %}
{% endblock %}

{% block main_content %}
    <section class="content">
        <!-- Default box -->
        {% if program_null is False %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">برنامه ها</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="text-align: center; direction: rtl">
                                عنوان
                            </th>
                            <th style="text-align: center; direction: rtl">
                                Slug
                            </th>
                            <th style="text-align: center; direction: rtl">
                                تاریخ
                            </th>
                            <th style="text-align: center; direction: rtl">
                                زمان
                            </th>
                            <th style="text-align: center; direction: rtl">
                                نوع پخش زنده
                            </th>
                            <th style="text-align: center; direction: rtl">
                                وضعیت
                            </th>
                            <th style="text-align: center; direction: rtl">
                                آخرین تغییر دهنده
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for program in programs %}
                            <tr>
                                <td style="text-align: center; direction: rtl">
                                    {{ program.title }}
                                </td>
                                <td style="text-align: center; direction: rtl">
                                    {{ program.slug }}
                                </td>
                                <td style="text-align: center; direction: rtl">
                                    {{ program.date_display }}
                                </td>
                                <td style="text-align: center; direction: rtl">
                                    {{ program.time_display }}
                                </td>
                                <td style="text-align: center; direction: rtl">
                                    {% if program.stream_type == 'audio' %}
                                        صوتی
                                    {% elif program.stream_type == 'video' %}
                                        تصویری
                                    {% elif program.stream_type == 'audio_video' %}
                                        صوتی و تصویری
                                    {% endif %}
                                </td>
                                <td class="project-state" style="text-align: center; direction: rtl">
                                    {% if program.status == 'publish' %}
                                        <span class="badge badge-success">انتشار</span>
                                    {% elif program.status == 'draft' %}
                                        <span class="badge badge-warning">آرشیو</span>
                                    {% else %}
                                        <span class="badge badge-danger">آرشیو</span>
                                    {% endif %}
                                </td>
                                <td style="text-align: center">
                                    {{ program.latest_modifier }}
                                </td>
                                <td class="project-actions text-right" style="text-align: center; direction: rtl">
                                    <a class="btn btn-primary btn-sm"
                                       href="{% url 'AdminPanel:admin_panel_program_view' program.pk %}">
                                        <i class="fas fa-folder">
                                        </i>
                                        مشاهده
                                    </a>
                                </td>
                                <td class="project-actions text-right" style="text-align: center; direction: rtl">
                                    <a class="btn btn-info btn-sm"
                                       href="{% url 'AdminPanel:admin_panel_program_edit' program.pk %}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        ویرایش
                                    </a>
                                </td>
                                <td class="project-actions text-right" style="text-align: center; direction: rtl">
                                    <button class="btn btn-danger btn-sm" onclick="delete_func({{ program.pk }})">
                                        <i class="fas fa-trash">
                                        </i>
                                        حذف
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <a class="btn btn-success btn-sm" href="{% url 'AdminPanel:admin_panel_program_add' %}">
                <i class="fas fa-plus">
                </i>
                افزودن
            </a>
        {% endif %}
        <!-- /.card -->
    </section>
{% endblock %}
