{% extends 'Admin/admin_base.html' %}

{% load widget_tweaks %}

{% block head %}
    <script>
        {% if temp_var == 4 %}
            alert('محتوا پخش صوتی مدنظر شما وجود ندارد.')
            location.replace("{% url 'Admin:voicecontent' %}")
        {% elif temp_var == 5 %}
            alert('اطلاعات، اشتباه وارد شده است.')
        {% elif temp_var == 3 %}
            alert("تغییرات مدنظر شما با موفقیت اعمال شد.")
        {% endif %}
    </script>
{% endblock %}

{% block message %}
    {% if form.errors %}
        <blockquote class="quote-danger">
            <h5 id="note">هشدار!</h5>
            <p>{{ form.errors }}</p>
        </blockquote>
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">اطلاعات پخش صوتی</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{ voicecontent.id }}" name="id">
                    <div class="form-group">
                        <label for="inputName">لینک پخش زنده صوتی</label><p>{{ voicecontent.voice_link }} فعلی :</p>
                        {% render_field form.voice_link class+="form-control" value=voicecontent.voice_link %}
                    </div>
                    <div class="form-group">
                        <label for="inputName">Voice Stat</label><p>{{ voicecontent.voice_stat }} فعلی :</p>
                        {% render_field form.voice_stat class+="form-control" value=voicecontent.voice_stat %}
                    </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-12">
        <a href="{% url 'Admin:voicecontent' %}" class="btn btn-secondary">انصراف</a>
        <input type="submit" value="ذخیره تغییرات" class="btn btn-success float-right">
    </div>
    </form>
{% endblock %}