{% extends 'Admin/admin_base.html' %}

{% load widget_tweaks %}

{% block head %}
    {% if temp_var == 4 %}
        <script>
            alert('برنامه مدنظر شما وجود ندارد.')
            location.replace("{% url 'Admin:program' %}")
        </script>
    {% endif %}
    {% if temp_var == 5 %}
        <script>
            alert('اطلاعات، اشتباه وارد شده است.')
        </script>
    {% endif %}
{% endblock %}

{% block message %}
    {% if form.errors %}
        <blockquote class="quote-danger">
            <h5 id="note">هشدار!</h5>
            <p>{{ form.errors }}</p>
        </blockquote>
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">اطلاعات برنامه</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{ program.id }}" name="id">
                    <div class="form-group">
                        <label for="inputName">ردیف</label>
                        {% render_field form.num_order id="inputName" class+="form-control" value=program.num_order %}
                    </div>
                    <div class="form-group">
                        <label for="inputName">عنوان</label>
                        {% render_field form.title id="inputName" class+="form-control" value=program.title %}
                    </div>
                    <div class="form-group">
                        <label for="inputName">url عنوان در</label>
                        {% render_field form.slug id="inputName" class+="form-control" value=program.slug %}
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">تاریخ</label>
                        {{ form.datetype|append_attr:"class:form-control"|append_attr:"id:inputName" }}
                    </div>
                    <div class="form-group">
                        <label for="inputName">زمان شروع</label>
                        {% render_field form.start_time type="time" id="inputName" class+="form-control" value=program.start_time %}
                    </div>
                    <div class="form-group">
                        <label for="inputName">زمان پایان</label>
                        {% render_field form.end_time type="time" id="inputName" class+="form-control" value=program.end_time %}
                    </div>
                    <div class="form-group">
                        <label for="inputName">لینک کلیک روی لوگو</label>
                        {% render_field form.logo_onclick_link type="url" id="inputName" class+="form-control" value=program.logo_onclick_link %}
                    </div>
                    <div class="form-group">
                        <label for="inputName">محتویات برنامه</label>
                        {{ form.stream|append_attr:"class:form-control"|append_attr:"id:inputName" }}
                    </div>
                    <div class="form-group">
                        <label for="inputName">سازنده</label>
                        <input type="text" id="inputName" class="form-control" value="{{ program.created_by }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">تاریخ ایجاد</label>
                        <input type="text" id="inputName" class="form-control" value="{{ program.date_created }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">آخرین تغییر دهنده</label>
                        <input type="text" id="inputName" class="form-control" value="{{ program.last_modified_by }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">تاریخ آخرین تغییر</label>
                        <input type="text" id="inputName" class="form-control" value="{{ program.date_modified }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">فعال / غیر فعال</label>
                        {% render_field form.is_active id="inputName" class+="form-control" value=program.is_active %}
                    </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">فایل ها</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                    <tr>
                        <th>عکس ها</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="{{ program.logo.url }}" style="height: 100px; width: 100px; border-radius: 50px"
                                 alt="logo"></td>
                        <td class="text-right py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                                <a href="{{ program.logo.url }}" class="btn btn-info" target="_blank"><i
                                        class="fas fa-eye"></i></a>
                                {{ form.logo|append_attr:"class:form-control" }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-12">
        <a href="{% url 'Admin:program' %}" class="btn btn-secondary">انصراف</a>
        <input type="submit" value="ذخیره تغییرات" class="btn btn-success float-right">
    </div>
    </form>
{% endblock %}