{% extends 'Admin/admin_base.html' %}

{% block head %}
    <script>
        {% if temp_var == 1 %}
            alert("محتوا پخش تصویری مدنظر شما قبلا حذف شده است.")
        {% elif temp_var == 2 %}
            alert("محتوا پخش تصویری مدنظر شما با موفقیت حذف شد.")
        {% endif %}
        function delete_func(delete_id) {
            if (confirm('آیا می خواهید این محتوا پخش تصویری را حذف کنید؟') == true) {
                location.replace("{% url 'Admin:videocontent' %}?del_id=" + delete_id)
            } else {
                alert("محتوا پخش تصویری به در خواست شما حذف نشد.")
            }
        }
    </script>
{% endblock %}

{% block message %}
    {% if temp_var == 6 %}
        <blockquote class="quote-warning">
            <h5 id="note">توجه !</h5>
            <p>.محتوا پخش تصویری ای وجود ندارد</p>
        </blockquote>
        <div class="col-12">
            <a href="{% url 'Admin:videocontent_add' %}" class="btn btn-info">افزودن محتوا پخش تصویری</a>
        </div>
    {% endif %}
{% endblock %}

{% block main_content %}
    <section class="content">
        <!-- Default box -->
        {% if temp_var != 6 %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">محتوا پخش های تصویری</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th>
                                لینک پخش زنده تصویری
                            </th>
                            <th>
                                Video Stat
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for videocontent in videocontents %}
                            <tr>
                                <td>
                                    {{ videocontent.video_link }}
                                </td>
                                <td>
                                    {{ videocontent.video_stat }}
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm"
                                       href="{% url 'Admin:videocontent_view' videocontent.id %}">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm"
                                       href="{% url 'Admin:videocontent_edit' videocontent.id %}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <button class="btn btn-danger btn-sm" onclick="delete_func({{ videocontent.id }})">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        {% endif %}
        <!-- /.card -->
    </section>
{% endblock %}
