{% extends 'BroadcastSite/base.html' %}

{% block title %}Add Program{% endblock %}

{% block head %}
    {% if if_code %}
        <script>
            alert('Your Program successfully Saved.')
            location.replace("/programs/")
        </script>
    {% endif %}
{% endblock %}

{% block body_in %}
    dir='rtl'
{% endblock %}

{% block body %}
    <h1>Add Program</h1>
    <h2>Your Username : {{ username }}</h2>
    <br><br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ program_form.title.label }} : {{ program_form.title }}<br><br>
        {{ program_form.title.errors }}<br>
        {{ program_form.slug.label }} : {{ program_form.slug }}<br><br>
        {{ program_form.slug.errors }}<br>
        <hr>
        {{ program_form.date_type.label }} : {{ program_form.date_type }}<br><br>
        {{ program_form.date_type.errors }}<br>
        <a href="{% url 'Programs:add_date_type' %}" target="_blank"><button type="button">Add Date Type</button></a>
        <br>
        <hr>
        <br>
        {{ program_form.start_time.label }} : {{ program_form.start_time }}<br><br>
        {{ program_form.start_time.errors }}<br>
        {{ program_form.end_time.label }} : {{ program_form.end_time }}<br><br>
        {{ program_form.end_time.errors }}<br>
        {{ program_form.logo_link.label }} : {{ program_form.logo_link }}<br><br>
        {{ program_form.logo_link.errors }}<br>
        {{ program_form.logo.label }} : {{ program_form.logo }}<br><br>
        {{ program_form.logo.errors }}<br>
        <hr>
        {{ program_form.stream.label }} : {{ program_form.stream }}<br><br>
        {{ program_form.stream.errors }}<br>
        <a href="{% url 'Programs:add_stream_type' %}" target="_blank"><button type="button">Add Stream Type</button></a>
        <br>
        <br>
        <input type="submit">
    </form>

{% endblock %}