{% extends 'LesanLive/base.html' %}

{% block title %}Add Video Content{% endblock %}

{% block head %}
    {% if if_code %}
        <script>
            close()
        </script>
    {% endif %}
{% endblock %}

{% block body_in %}
    dir='rtl'
{% endblock %}

{% block body %}
    <h1>Add Video Content</h1>
    <h2>Your Username : {{ username }}</h2>
    <br><br>
    <form action="" method="post">
        {% csrf_token %}

        {{ video_content_form.video_link.label }} : {{ video_content_form.video_link }}<br><br>
        {{ video_content_form.video_link.errors }}<br>
        {{ video_content_form.video_link.label }} : {{ video_content_form.video_link }}<br><br>
        {{ video_content_form.video_link.errors }}<br>
        <a href="{% url 'Programs:add_video_stat' %}" target="_blank"><button type="button">Add Video Stat</button></a>

        <input type="submit">
    </form>

{% endblock %}