{% extends 'LesanLive/base.html' %}

{% block title %}Program Preview Before Delete{% endblock %}

{% block head %}
    <script>
        {% if if_code == 3 %}
            alert('به در خواست شما برنامه حذف شد.')
            location.replace("{% url 'Programs:delete_program' %}")
        {% endif %}
        function confirm_delete() {
            if (confirm('آیا می خواهید این برنامه را حذف کنید؟') === true) {
                document.hidden_form.submit()
            } else {
                alert('به در خواست شما برنامه حذف نشد.')
                location.replace("{% url 'Programs:delete_program' %}")
            }
        }
    </script>
{% endblock %}

{% block body_in %}
    dir='rtl'
{% endblock %}

{% block body %}
    {% if if_code == 1 %}
        <img src="{{ program.logo.url }}" alt="logo" height="300px" width="300px"><br><br>
        {{ program.title }} :{{ program.title }}<br>
        {{ program.slug.label }} :{{ program.slug }}<br>
        {{ program.date_type.label }} :{{ program.date_type }}<br>
        {{ program.start_time.label }} :{{ program.start_time }}<br>
        {{ program.end_time.label }} :{{ program.end_time }}<br>
        {{ program.logo_link.label }} :{{ program.logo_link }}<br>
        {{ program.stream.label }} :{{ program.stream }}<br>
        {{ program.created_by.label }} :{{ program.created_by }}<br>
        {{ program.last_modified_by.label }} :{{ program.last_modified_by }}<br>
        {{ program.is_active.label }} :{{ program.is_active }}<br>
        {{ program.date_created.label }} :{{ program.date_created }}<br><br><br>
        <button type="submit" style="font-size: 20px; padding: 10px 20px 10px 20px" onclick="confirm_delete()">حذف
        </button>
        <form name="hidden_form" action="" method="post">
            {% csrf_token %}
        </form>
    {% else %}
        <h1>slug وارد شده اشتباه است.</h1>
    {% endif %}
{% endblock %}