{% extends 'BroadcastSite/base.html' %}

{% block title %}Add Voice Content{% endblock %}

{% block head %}
    {% if if_code %}
        <script>
            close()
        </script>
    {% endif %}
{% endblock %}

{% block body_in %}
    dir='rtl'
{% endblock %}

{% block body %}
    <h1>Add Voice Content</h1>
    <h2>Your Username : {{ username }}</h2>
    <br><br>
    <form action="" method="post">
        {% csrf_token %}

        {{ voice_content_form.voice_link.label }} : {{ voice_content_form.voice_link }}<br><br>
        {{ voice_content_form.voice_link.errors }}<br>
        {{ voice_content_form.voice_link.label }} : {{ voice_content_form.voice_link }}<br><br>
        {{ voice_content_form.voice_link.errors }}<br>
        <a href="{% url 'Programs:add_voice_stat' %}" target="_blank"><button type="button">Add Voice Stat</button></a>

        <input type="submit">
    </form>

{% endblock %}